<!--
  - #ABOUT
-->

<section class="section about" id="about" aria-label="about me">
    <div class="container">

        <div class="about-content">

            <h2 class="h2 section-title revealed" data-reveal="right">
                Hi. I’m <br>
                Oni Daniel
            </h2>

            <div class="wrapper has-before revealed" data-reveal="right">

                <p class="section-text">
                    A passionate
                    <em class="em">photograher</em>
                    who are working in this field for
                    <em class="em">almost a decade.</em>
                    I’m ready to give you my best.
                </p>

                <img src="img/Balinga Photogrphy png 1.png" width="151" height="92" loading="lazy" alt="signature"
                     class="img">

            </div>

        </div>

        <figure class="about-banner revealed" data-reveal="left">

            <div class="img-holder has-before" style="--width: 512; --height: 684;">
                <img src="img/Smooth Portrait.jpg" width="512" height="684" loading="lazy" alt="Riachard Ryan"
                     class="img-cover">
            </div>

            <img src="img/Balinga Photogrphy Logo 1.png" width="178" height="178" loading="lazy" alt=""
                 class="shape shape-1">

            <img src="images/about-shape-2.svg" width="659" height="653" loading="lazy" alt=""
                 class="shape shape-2">

        </figure>

        <img src="images/about-shape-3.svg" width="239" height="232" loading="lazy" alt=""
             class="shape shape-3">

    </div>
</section>

