<!--
  - #CATEGORY
-->

<section class="section category" aria-label="photography category">
    <div class="container">

        <ul class="category-list">

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Landscape,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-1.jpg" width="600" height="690" loading="lazy" alt="Landscape"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Model,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-2.jpg" width="600" height="690" loading="lazy" alt="Model"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Street,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-3.jpg" width="600" height="690" loading="lazy" alt="Street"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Product,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-4.jpg" width="600" height="690" loading="lazy" alt="Product"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Fashion,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-2.jpg" width="600" height="690" loading="lazy" alt="Fashion"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Film,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-5.jpg" width="600" height="690" loading="lazy" alt="Film"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Architecture,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-6.jpg" width="600" height="690" loading="lazy" alt="Architecture"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Event,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-7.jpg" width="600" height="690" loading="lazy" alt="Event"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Wedding,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-8.jpg" width="600" height="690" loading="lazy" alt="Wedding"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">People,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-9.jpg" width="600" height="690" loading="lazy" alt="People"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Event,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-7.jpg" width="600" height="690" loading="lazy" alt="Event"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Food,</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-10.jpg" width="600" height="690" loading="lazy" alt="Food"
                             class="img-cover">
                    </figure>

                </a>
            </li>

            <li class="category-item revealed" data-reveal>
                <a href="#" class="category-card">

                    <h3 class="h4 card-title">Health & Wellnes.</h3>

                    <figure class="card-banner img-holder" style="--width: 600; --height: 690;">
                        <img src="images/category-11.jpg" width="600" height="690" loading="lazy"
                             alt="Health & Wellnes" class="img-cover">
                    </figure>

                </a>
            </li>

        </ul>

    </div>
</section>


