<!--
  - #FOOTER
-->

<footer class="footer">

    <div class="footer-top section" id="contact">
        <div class="container">

            <p class="section-subtitle revealed" data-reveal>Contact Us</p>

            <h2 class="h2 section-title revealed" data-reveal>
                Work inquiry, Job oportunities? Send Message.
            </h2>

            <a href="#" class="btn-icon revealed" data-reveal>
                <img src="images/arrow-forward.svg" width="43" height="20" loading="lazy" alt="arrow-forward icon">
            </a>

            <img src="images/footer-1.jpg" width="159" height="176" loading="lazy" alt="photography"
                 class="abs-img abs-img-1 revealed" data-reveal>

            <img src="images/footer-2.jpg" width="265" height="275" loading="lazy" alt="photography"
                 class="abs-img abs-img-2 revealed" data-reveal>

            <img src="images/footer-3.jpg" width="303" height="272" loading="lazy" alt="photography"
                 class="abs-img abs-img-3 revealed" data-reveal>

            <img src="images/footer-4.jpg" width="175" height="175" loading="lazy" alt="photography"
                 class="abs-img abs-img-4 revealed" data-reveal>

            <img src="images/footer-shape.svg" width="185" height="134" loading="lazy" alt="" class="shape">

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">

            <a href="#" class="logo">
                <img src="images/logo.svg" width="40" height="40" loading="lazy" alt="Richard home">
            </a>

            <ul class="social-list">

                <li>
                    <a href="#" class="social-link">Fa.</a>
                </li>

                <li>
                    <a href="#" class="social-link">Insta.</a>
                </li>

                <li>
                    <a href="#" class="social-link">Tw.</a>
                </li>

            </ul>

            <p class="copyright">Made by PhilsKay</p>

        </div>
    </div>

    <div class="footer-bg has-before">
        <img src="images/footer-bg.jpg" width="1920" height="1135" loading="lazy" alt="photography"
             class="img-cover">
    </div>

</footer>


